# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# 以下の行は、PyInstallerを使用して作成された実行可能ファイルを無視するためのものです。
# 実行可能ファイルの拡張子に応じて、必要な行を追加してください。
*.exe
*.exe.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
# 以下の行は、pipenvを使用して仮想環境を作成する場合に無視するためのものです。
# 必要に応じて、pipenvの設定に基づいて追加の行を追加してください。
Pipfile
Pipfile.lock

# poetry
# 以下の行は、poetryを使用して仮想環境を作成する場合に無視するためのものです。
# 必要に応じて、poetryの設定に基づいて追加の行を追加してください。
poetry.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
ven

frames/
temp/

whisper/
uploads/
sample/